body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 800px;
    height: 600px;
    background-color: rgb(180, 41, 41);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

img {
    height: 100px;
    width: 100px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}